<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Environment Type</title>

<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

<script src="../js/environmenttype/environmenttype.js" type="text/javascript"></script>
<link rel="stylesheet" href="../css/table/table.css">



</head>

<body>

	<div ng-app="myenvironmenttype" ng-controller="MainCtrl" ng-init="selectEnvironmentTypes()">

		<div  class="container">

			<div class="page-header" align="center">
				<h1>PaaS-Environment Type</h1>
			</div>
			
			<button ng-click="toggleModal()" class="btn btn-primary">Add Environment Type</button>

			<modal title="Add Host Scaling Policy" visible="showModal">

									<!-- page-header -->

			<div class="container tabs-wrap">
				<ul class="nav nav-tabs col-xs-5" role="tablist">
					<li role="presentation" class="active"><a href="#type"
						aria-controls="type" role="tab" data-toggle="tab"
						aria-expanded="true">Environment Type</a></li>

					<li><a href="#image_tag" aria-controls="image_tag" role="tab"
						data-toggle="tab" aria-expanded="false">Image Tags</a></li>

					<li><a href="#update_policy" aria-controls="update_policy"
						role="tab" data-toggle="tab" aria-expanded="false">Update
							Policy</a></li>
				</ul>


											<!-- end -->
											
											
											
											<!-- 1st window button -->
											
				<div class="tab-content">
					<div class="tab-pane active col-xs-12" id="type">
						<form role="form">
							<div>
								<p>Enter a name and description for the Environment Type</p>
							</div>
							<br />

							<div class="form-group ">
								<label for="name">Name</label> <input style="width: 45%"
									type="text" class="form-control" id="name" placeholder="Name" ng-model="field.name"/>
							</div>
							<div class="form-group">
								<label for="description">Description</label> 
								<textarea style="width: 45%" rows="2" cols="10"class="form-control" ng-model="field.description">
								</textarea>
							</div>
							<br /> <br /> <br />
							<div class="modal-footer" style="background: #ccefff; width: 45%">
								<div class="bootstrap-dialog-footer">
									<div class="bootstrap-dialog-footer-buttons">
										<button type="button"class="btn btn-danger btn-nirmata col-xs-2"data-dismiss="modal">Cancel</button>
										 <a class="btn btn-primary continue">Next</a>
								    <button class="btn btn-success btn-nirmata"disabled="disabled">Finish</button>
									</div>
								</div>Select
							</div>
						</form>
					</div>

														<!-- end -->


										   <!-- 2nd window -->

					<div role="tabpanel" class="tab-pane col-xs-12" id="image_tag">
						<form role="form">
							<h5 align="left">Specify which images are accepted into, and
								promoted fron, environments of this type</h5>

							<div class="form-group ">
								<label for="tag">Accept Tag</label> <input style="width: 45%"
									type="text" class="form-control" id="tag"
									placeholder="Image tag prefix to filter acceptable images" ng-model="field.accept_tag"/>
							</div>
							<div class="form-group">
								<label for="promote_tag">Promote Tag</label> <input
									style="width: 45%" type="text" class="form-control"
									id="promote_tag"
									placeholder="Image tag prefix for promoted images" ng-model="field.promote_tag"/>
							</div>

							<br /> <br /> <br />
							<div class="modal-footer" style="background: #ccefff; width: 45%">
								<div class="bootstrap-dialog-footer">
									<div class="bootstrap-dialog-footer-buttons">
									
										<button type="button"class="btn btn-danger btn-nirmata col-xs-2"data-dismiss="modal">Cancel</button>
										<a class="btn btn-primary back">Previous</a>
										<a class="btn btn-primary continue">Next</a>
										<button class="btn btn-success btn-nirmata" disabled="disabled">Finish</button>
									</div>
								</div>
							</div>
						</form>
					</div>
										
													<!-- end -->
					
					
											<!-- 3rd window -->

					<div role="tabpanel" class="tab-pane col-xs-12 tab-pane"
						id="update_policy">

						<form role="form">
							<h5 align="left">Manage how image update notifications are
								handled for environments of this type</h5>

							<div class="form-group ">
								<label for="Action">Action</label> <select class="form-control"style="width: 45%" ng-model="field.action">
									<option value="notify">notify</option>
									<option value="add">add</option>
									<option value="update">update</option>
								</select>
							</div>
							
							<div class="form-group">
								<label for="restart_interval">Restart Interval(seconds)</label> <input
									style="width: 45%" type="number" class="form-control"
									id="restart_interval" ng-model="field.restart_interval"/>
							</div>
							
							<div class="form-group">
								<label for="quiet_period">Quiet Period (seconds)</label> <input
									style="width: 45%" type="number" class="form-control"
									id="quiet_period" ng-model="field.quiet_period"/>
							</div>
							

							<br /> <br /> <br />
							<div class="modal-footer" style="background: #ccefff; width: 45%">
								<div class="bootstrap-dialog-footer">
									<div class="bootstrap-dialog-footer-buttons">
									
										<button type="button"class="btn btn-danger btn-nirmata col-xs-2"data-dismiss="modal">Cancel</button>
										<a class="btn btn-primary back">Previous</a>
										<button class="btn btn-success btn-nirmata" data-dismiss="modal" ng-click="regEnvironmentTypes()">Finish</button>
									</div>
								</div>
							</div>
						</form>

					</div>
												<!-- end -->
												
												
				</div>
			</div>

			<div id="push"></div>

			</modal>
		</div>

		<hr />

		<div class="container">
			<table border="1" cellpadding="10">
			<thead>
				<tr>
					<th>Name</th>
					<th>Description</th>
					<th>Accept Tag</th>
					<th>Promote Tag</th>
					<th>action</th>
					<th>actions</th>
				</tr>
				</thead>
				<tbody>
				<tr ng-repeat="field in fields">
					<td>{{field.name}}</td>
					<td>{{field.description}}</td>
					<td>{{field.accept_tag}}</td>
					<td>{{field.promote_tag}}</td>
					<td>{{field.action}}</td>
					<td><button ng-click="deleteEnvironmentTypes(field.name)"
									class="btn btn-danger">Delete</button>
								<button ng-click="updateEnvironmentTypes(field.name)"
									class="btn btn-primary">Update</button></td>
				</tr>
				</tbody>
			</table>
		</div>

	</div>
	

</body>
</html>